@model Student_Portal.Models.ViewModels.CourseListViewModel;

    <form name="theForm" method="post" asp-action="Remove">
        <div>
            <button><a class="nav-link text-dark" asp-area="Admin" asp-controller="AddCourse">Add new Course</a></button>
            <div class="center bg-white" style="border-radius: 25px 25px 25px 25px;">
                <input type="hidden" id="CourseId" asp-for="CourseId" value="">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Course Id</th>
                            <th scope="col">Course Name</th>
                            <th scope="col">Credit Requirements</th>
                            <th scope="col">Credits</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        @foreach (var course in Model.Courses)
                        {
                            <tr>
                                <th scope="row">@course.Id</th>
                                <td>@course.Name</td>
                                <td>@course.CreditRequirements</td>
                                <td>@course.Credits</td>
                                <td><button id=@course.Id onclick="sendid(this.id)">Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </form>

<script>
    function sendid(Id) {
        $("#CourseId").val(Id);
        document.theForm.submit();
    };
</script>