@model Student_Portal.Models.ViewModels.CourseListViewModel;

<form method="post" name="theForm" action="RegisterCourse">
    <div class="center bg-white" style="border-radius: 25px 25px 25px 25px;">

        <input type="hidden" id="CourseId" asp-for="CourseId" />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Course Id</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Register</th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null)
                {
                    @foreach (var course in Model.Courses)
                    {
                        <tr>
                            <th scope="row">@course.Id</th>
                            <td>@course.Name</td>
                            <td><button id=@course.Id onclick="register(this.id)">Register</button></td>
                        </tr>
                    }}
            </tbody>
        </table>
    </div>
</form>
<script>
    function register(courseId) {
        $("#CourseId").val(courseId);
        document.theForm.submit();
    }
</script>