@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserAsync(User).Result.FullName!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
        @if (User.IsInRole(UT.AdminRole))
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Admin" asp-controller="ViewCourses">View All Courses</a>
            </li>
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Admin" asp-controller="ViewAnnouncements">View Announcements</a>
            </li>
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Admin" asp-controller="ApproveStudent">New Students</a>
            </li>

            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Admin" asp-controller="ApprovedStudentList">Approved Students List</a>
            </li>
        }
        @if (User.IsInRole(UT.ApprovedStudentRole))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="ApprovedStudent" asp-controller="ViewCourses">View Registered Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="ApprovedStudent" asp-controller="ViewAnnouncements">View Announcements</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
