@model Student_Portal.Models.ViewModels.AnnouncementViewModel;

    <form name="theForm" method="post" asp-action="Remove">
        <div>
            <button><a class="nav-link text-dark" asp-area="Admin" asp-controller="AddAnnouncements">Add new Announcements</a></button>
            <div class="center bg-white" style="border-radius: 25px 25px 25px 25px;">
                <input type="hidden" id="AnnouncementId" asp-for="Id" value="">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Notification</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        @foreach (var announcement in Model.Announcements)
                        {
                            <tr>
                                <td>@announcement.Content</td>
                                <td><button id=@announcement.Id onclick="sendid(this.id)">Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </form>

<script>
    function sendid(Id) {
        $("#AnnouncementId").val(Id);
        document.theForm.submit();
    };
</script>