@model Student_Portal.Models.Announcement;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <table>
        <tr>
        <td><label>Content of Notification</label></td>
           <td> <input asp-for="Content" /></td>
        </tr>
    </table>
    <div>

        <button type="submit">Enter</button>
    </div>
</form>