
@{
    ViewData["Title"] = "Home Page";
}
 

<div class="text-center text-capitalize">
    <label>
        <h1 class="display-4">Välkommen till Studentportalen!</h1>
    </label>
    <div class="text-center" style="color:white">
        <p>Click <a href="\Identity\Account\Login">here</a> to Login!</p>
    </div>
</div>