
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .br1 {
        display: block;
        margin-bottom: 4em;
    }
    .br2 {
        display: block;
        margin-bottom: 2em;
    }

    </style>


<div class="offset-5 d-flex flex-column text-capitalize">

    <span class="br1"></span>
    <div class="text-center">
        
            <span class="display-3" style="text-shadow: 2px 1px 1px white">Välkommen till Studentportalen!</span>
            <span class="br2"></span>
            <div class="text-center" style="color:white">
                <p>@*Click <a href="\Identity\Account\Login">here</a> to Login!*@</p>
            </div>
        

    </div>
    
</div>